<div class="responsive-nav">
    <img src="img/nga-logo.png" class="res-nav-logo" title="NGA Gaming Logo">
    <div class="res-nav-btn-contain">
        <a href="#" id="resNavBtn" onclick="return false;">
            <div id="resNavIcon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="index.php" id="resHome">
                    Home
                </a>
            </li>
            <li>
                <a href="members.php" id="resMembers">
                    Members
                </a>
            </li>
            <li>
                <a href="forum/ucp.php?mode=register" id="resJoin">
                    Join the Fray
                </a>
            </li>
            <li>
                <a href="forum/" id="resForums">
                    Forums
                </a>
            </li>
            <li>
                <a href="contact.php" id="resContact">
                    Contact
                </a>
            </li>
        </ul>
        <img src="img/top-left.png" class="borders top-left">
        <img src="img/top-right.png" class="borders top-right">
        <img src="img/bottom-right.png" class="borders bottom-right">
        <img src="img/bottom-left.png" class="borders bottom-left">
    </div>
</div>